.SideButton {
    -fx-min-width: 100px;
    -fx-min-height: 75px;
    -fx-alignment: CENTER;
}

.SmallButton {
    -fx-min-width: 100px;
    -fx-min-height: 15px;
    -fx-alignment: CENTER;
}

.BigButton {
    -fx-min-width: 200px;
    -fx-min-height: 100px;
    -fx-alignment: CENTER;
    -fx-font-size: 20pt;
    -fx-padding: 15 15 15 15;
    -fx-spacing: 15 15 15 15;
}

.QuestrialBig {
    -fx-font-family: "Questrial";
    -fx-font-size: 15pt;
}

.QuestrialMedium {
    -fx-font-family: "Questrial";
    -fx-font-size: 12pt;
}

.BigText {
    -fx-pref-width: 200px;
    -fx-pref-height: 100px;
    -fx-font-size: 10pt;
}